.bannerContain{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height:240px;
    background-color: lightgray;
}

.note{

    background-color: lightgray;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}