.noteSelectContain{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 5px 0px;
    height: 388px;
}

.select{
    background-color: lightblue;
    margin: 1px;
    text-align: center;
    vertical-align: middle;
    line-height: 127px; 
    font-size: xx-large;
    color: darkblue;
}

.selectHidden{
    background-color: lightblue;
    margin: 1px;
    text-align: center;
    vertical-align: middle;
    line-height: 127px; 
    font-size: xx-large;
    color: lightblue;
}
.selectHidden1{
    background-color: white;
    margin: 1px;
    text-align: center;
    vertical-align: middle;
    line-height: 127px; 
    font-size: xx-large;
    color: white;
}

.selectBlank{
    background-color: lightblue;
    margin: 1px;
    text-align: center;
    vertical-align: middle;
    line-height: 127px; 
    font-size: xx-large;
    color: darkblue;
    background-color: lightsalmon;
}
.selectBlank1{
    background-color: lightblue;
    color: lightblue;
    text-align: center;
    vertical-align: middle;
    line-height: 127px; 

}

.select:hover, .select:active, .select:focus {
    background-color: #a49bb6;
  }


.homeButton{
    background-color: lightsalmon;
}

.homeButton a{
    margin: 1px;
    text-align: center;
    vertical-align: middle;
    line-height: 127px; 
    font-size: xx-large;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.homeButton span{
color: darkblue;
}