.mainContain3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.bothHeader{
    align-items: center;
    justify-content: center;
    background-color: lightskyblue;
    margin-top: 10px;
    border-radius: 5px;
}

.bothHeader:hover{
    background-color: lightgreen;
    transform: scale(1.03);
}

.bothHeader:active{
    background-color: lightgreen;
    transform: scale(.98);
}


.bothHeader a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
    color: white;
    text-decoration: none;
    padding: 50px;
    width: 60px;
}


.bothHeader a:hover{

}

