.bannerContain2{
    display: grid;
    grid-template-columns: 1fr;

    background-color: lightgray;
}

.note1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: lightblue;
    color: black;
    height: 210px;
    padding-top: 20px;
}



.scoreContain{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: lightgray;
    color: lightgray;
    font-size: xx-large;
}

.scoreHidden{
    background-color: lightgray;

}
.score{
    color: darkblue;
    font-size: xx-large;
}

.note9{
    color: black;
}