.dispNote{
    text-decoration: line-through;
    font-size: large;
    white-space-collapse: preserve;
    text-decoration-thickness: 3px;

}


.blankNote{
    color: lightblue;
    display: none;

}

.selectedNote{
    text-decoration: line-through;
    font-size: 2.1em;
    white-space-collapse: preserve;
    margin: -9px 0px;
}

.selectedOdd{

    font-size: 2.1em;
    margin: -17px 0px;

}

.zeroNote{

    border-bottom: 1px solid black;
    text-decoration: line-through;
    font-size: 2.1em;
    white-space-collapse: preserve;
    text-decoration-thickness: 1px;
}
.sixteenNote{

    border-top: 5px solid black;
    margin-top: 8px;

}