.dispNote{
/*
    border-bottom: 1px;
    border: 1px;
    border-bottom-style: solid;

*/
    text-decoration: line-through;
    font-size: large;
    white-space-collapse: preserve;
    text-decoration-thickness: 7px;
}

.note5{


}

.blankNote{
    color: lightblue;
    display: none;
}

.selectedNote{
    text-decoration: line-through;
    font-size: 2.1em;
    margin-top: -25px;
    margin-bottom: -25px;
    white-space-collapse: preserve;
}

.selectedOdd{

    font-size: 2.1em;
    margin-top: -25px;
    margin-bottom: -25px;

}

.zeroNote{

    border-bottom: 5px solid black;
    margin-bottom: 8px;

}
.sixteenNote{

    border-top: 5px solid black;
    margin-top: 8px;

}