.noteSelectContain{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 5px 0px;
    height: 388px;
}

.select{
    background-color: lightblue;
    margin: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
    color: darkblue;
}

.selectHidden{
    background-color: lightblue;
    margin: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
    color: lightblue;
}

.selectBlank{
    background-color: lightblue;
    margin: 1px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
    color: darkblue;
    overflow: scroll;
}



.select:active{
    background-color: rgb(252, 214, 214);
    background-color: #a49bb6;
    box-shadow: 0 0 3px black;
    transform: scaleX(.99);
    transform: scaleY(.99);
    font-size: xx-large;
}