.noteSelectContain{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 5px 0px;
    height: 388px;
}

.select{
    background-color: lightblue;
    margin: 1px;
    text-align: center;
    vertical-align: middle;
    line-height: 127px; 
    font-size: xx-large;
    color: darkblue;
}

.selectHidden{
    background-color: lightblue;
    margin: 1px;
    text-align: center;
    vertical-align: middle;
    line-height: 127px; 
    font-size: xx-large;
    color: lightblue;
}

.selectBlank{
    background-color: lightblue;
    margin: 1px;
    text-align: center;
    vertical-align: middle;
    line-height: 127px; 
    font-size: xx-large;
    color: darkblue;
}
.selectBlank1{
    background-color: lightblue;
    color: lightblue;
    text-align: center;
    vertical-align: middle;
    line-height: 127px; 

}

.select:hover, .select:active, .select:focus {
    background-color: #a49bb6;

  }